/* Set node colors in graph view */

/* Node colors for dark  mode */
.theme-dark .graph-view.color-fill {
	color: green;
	opacity: 1;
}
.theme-dark .graph-view.color-fill-unresolved {
	color: red;
	opacity: 1;
}
.theme-dark .graph-view.color-fill-tag {
	color: yellow;
	opacity: 1;
}
/* Node colors for light mode */
.theme-light .graph-view.color-fill {
	color: green;
	opacity: 1;
}
.theme-light .graph-view.color-fill-unresolved {
	color: red;
	opacity: 1;
}
.theme-light .graph-view.color-fill-tag {
	color: blue;
	opacity: 1;
}
